In [1]:
import numpy as np # library to handle data in a vectorized manner
import pandas as pd

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

print('Libraries imported.')

/bin/sh: conda: command not found
/bin/sh: conda: command not found
Libraries imported.

In [3]:
import requests
import lxml.html as lh

In [4]:
url='https://en.wikipedia.org/wiki/List_of_cities_by_international_visitors'

In [5]:
#Create a handle, page, to handle the contents of the website
page = requests.get(url)
#Store the contents of the website under doc
doc = lh.fromstring(page.content)
#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

In [6]:
#Check the length of the first 12 rows
[len(T) for T in tr_elements[:12]]

[8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8]

In [7]:
#Create empty list
col=[]
i=0
#For each row, store each first element (header) and an empty list
for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    print('%d:%s'%(i,name))
    col.append((name,[]))

1:RankEuromonitor

2:RankMastercard

3:City

4:Country

5:Arrivals 2017Euromonitor

6:Arrivals 2016Mastercard

7:Growthin arrivalsEuromonitor

8:Income(billions $)Mastercard

In [15]:
#Since out first row is the header, data is stored on the second row onwards
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 10, the //tr data is not from our table 
    if len(T)!=8:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [27]:
#Check the length of each column
[len(C) for (title,C) in col]

[274, 274, 274, 274, 274, 274, 274, 274]

In [29]:
#Create dictionary and DataFrame
Dict={title:column for (title,column) in col}
df_raw=pd.DataFrame(Dict)
df_raw.head()
df_raw.shape

(274, 8)

In [32]:
#Clean up the DataFrame
df = df_raw
df.rename(columns={'RankEuromonitor\n':'RankMastercard','City\n':'City','Country\n':'Country','Arrivals 2017Euromonitor\n':'Arrivals','Growthin arrivalsEuromonitor\n':'Growth'}, inplace=True)
df = df.replace('\n','', regex=True) #get rid of all \n in the DataFrame
df = df.replace('\xa0','', regex=True) #get rid of all \n in the DataFrame
df = df.replace('',np.nan, regex=True) #replace "Not Assigned" values to NaN
df.drop(['RankMastercard\n','Arrivals 2016Mastercard\n','Income(billions $)Mastercard\n'], axis=1,inplace=True)
df.dropna(inplace=True)
df.shape

(200, 5)

In [36]:
df['City, Country'] = df['City'] + ', ' + df['Country']

In [40]:
df_top = df['City, Country'][:50].values
df_top

array(['Hong Kong, Hong Kong', 'Bangkok, Thailand',
       'London, United Kingdom', 'Singapore, Singapore', 'Macau, Macau',
       'Dubai, United Arab Emirates', 'Paris, France',
       'New York City, United States', 'Shenzhen, China',
       'Kuala Lumpur, Malaysia', 'Phuket, Thailand', 'Delhi, India',
       'Tokyo, Japan', 'Rome, Italy', 'Taipei, Taiwan',
       'Guangzhou, China', 'Mumbai, India', 'Mecca, Saudi Arabia',
       'Istanbul, Turkey', 'Prague, Czech Republic',
       'Miami, United States', 'Seoul, South Korea', 'Barcelona, Spain',
       'Pattaya, Thailand', 'Shanghai, China', 'Milan, Italy',
       'Canc√∫n, Mexico', 'Agra, India', 'Las Vegas, United States',
       'Amsterdam, Netherlands', 'Antalya, Turkey', 'Denpasar, Indonesia',
       'Osaka, Japan', 'Los Angeles, United States', 'Vienna, Austria',
       'Berlin, Germany', 'Madrid, Spain', 'Johor Bahru, Malaysia',
       'Johannesburg, South Africa', 'Riyadh, Saudi Arabia',
       'Ho Chi Minh City, Vietnam', 'Venice, Italy',
       'Orlando, United States', 'Chennai, India', 'Jaipur, India',
       'Athens, Greece', 'Dublin, Ireland', 'Florence, Italy',
       'Moscow, Russia', 'Toronto, Canada'], dtype=object)