In [1]:
import numpy as np # library to handle data in a vectorized manner
import pandas as pd

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

print('Libraries imported.')

/bin/sh: conda: command not found
/bin/sh: conda: command not found
Libraries imported.

In [56]:
import requests
import lxml.html as lh

In [57]:
url='https://en.wikipedia.org/wiki/List_of_cities_by_international_visitors'

In [58]:
#Create a handle, page, to handle the contents of the website
page = requests.get(url)
#Store the contents of the website under doc
doc = lh.fromstring(page.content)
#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

In [59]:
#Check the length of the first 12 rows
[len(T) for T in tr_elements[:12]]

[8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8]

In [60]:
#Create empty list
col=[]
i=0
#For each row, store each first element (header) and an empty list
for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    print('%d:%s'%(i,name))
    col.append((name,[]))

1:RankEuromonitor

2:RankMastercard

3:City

4:Country

5:Arrivals 2017Euromonitor

6:Arrivals 2016Mastercard

7:Growthin arrivalsEuromonitor

8:Income(billions $)Mastercard

In [61]:
#Since out first row is the header, data is stored on the second row onwards
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 10, the //tr data is not from our table 
    if len(T)!=8:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [62]:
#Check the length of each column
[len(C) for (title,C) in col]

[137, 137, 137, 137, 137, 137, 137, 137]

In [105]:
#Create dictionary and DataFrame
Dict={title:column for (title,column) in col}
df_raw=pd.DataFrame(Dict)
df_raw.head()
df_raw.shape

(137, 8)

In [109]:
#Clean up the DataFrame
df = df_raw
df.rename(columns={'City\n':'City','Country\n':'Country','Arrivals 2017Euromonitor\n':'Arrivals','Growthin arrivalsEuromonitor\n':'Growth'}, inplace=True)
df = df.replace('\n','', regex=True) #get rid of all \n in the DataFrame
df = df.replace('\xa0','', regex=True) #get rid of all \n in the DataFrame
df = df.replace('',np.nan, regex=True) #replace "Not Assigned" values to NaN
df.drop(['RankMastercard\n','RankEuromonitor\n','Arrivals 2016Mastercard\n','Income(billions $)Mastercard\n'], axis=1,inplace=True)
df.dropna(inplace=True)
df.head()

        City         Country    Arrivals  Growth
0  Hong Kong       Hong Kong  25,695,800  −3.1 %
1    Bangkok        Thailand  23,270,600    9.5%
2     London  United Kingdom  19,842,800    3.4%
3  Singapore       Singapore  17,681,800    6.1%
4      Macau           Macau  16,299,100    5.9%

In [110]:
df['City, Country'] = df['City'] + ', ' + df['Country']

In [112]:
Cities = df['City, Country'][:50].values

In [113]:
# type your answer here
CLIENT_ID = 'Y1PZQ4UQX0XRYB5YMWSHH05PWS2F0R4S4SI4F05KIUJZ1JDX' # your Foursquare ID
CLIENT_SECRET = 'FFMOJY1UQXST5XXCTUIGWVLENGPG2VDDJIYF201YLOXUTG30' # your Foursquare Secret
VERSION = '20180605' # Foursquare API version

In [114]:
latlng = []
cols = ['City, Country','Latitude','Longitude']

In [115]:
for city in Cities:
    geolocator = Nominatim(user_agent="explorer")
    location = geolocator.geocode(city, timeout=10)
    latitude = location.latitude
    longitude = location.longitude
    latlng.append([city, latitude, longitude])    
print('Done')

Done

In [117]:
df_top = pd.DataFrame(latlng, columns=cols)
df_top.shape

(50, 3)

In [118]:
df_new = pd.merge(df_top, df, on=['City, Country'])
df_new.head()

,"City, Country",Latitude,Longitude,City,Country,Arrivals,Growth
0,"Hong Kong, Hong Kong",22.350627,114.184916,Hong Kong,Hong Kong,"25,695,800",−3.1 %
1,"Bangkok, Thailand",13.753893,100.816080,Bangkok,Thailand,"23,270,600",9.5%
2,"London, United Kingdom",51.507322,-0.127647,London,United Kingdom,"19,842,800",3.4%
3,"Singapore, Singapore",1.340853,103.878447,Singapore,Singapore,"17,681,800",6.1%
4,"Macau, Macau",22.195629,113.548785,Macau,Macau,"16,299,100",5.9%

In [120]:
df_new.drop(['City','Country'], axis=1, inplace=True)
df_new.head()

            City, Country   Latitude   Longitude    Arrivals  Growth
0    Hong Kong, Hong Kong  22.350627  114.184916  25,695,800  −3.1 %
1       Bangkok, Thailand  13.753893  100.816080  23,270,600    9.5%
2  London, United Kingdom  51.507322   -0.127647  19,842,800    3.4%
3    Singapore, Singapore   1.340853  103.878447  17,681,800    6.1%
4            Macau, Macau  22.195629  113.548785  16,299,100    5.9%